* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: main-font;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #152660, #a383c2, #fdaaac);
}

@font-face {
    font-family: 'main-font';
    src: url('/fonts/webfontkit-20240126-105227/mija_w03_regular-webfont.woff2') format('woff2'),
         url('/fonts/webfontkit-20240126-105227/mija_w03_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


input {
    appearance: none;
}

div.hero {
    color: white;
    max-width: 1000px;
    text-align: center;
}

div.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

div.small-container{
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 10px;
}

.small-container .title{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #152660;
}

.small-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #fdaaac;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #152660;
}

.button{
    display: flex;
    justify-content: center;
}

form .button input{
    height: 100%;
    width: 25%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #152660, #a383c2, #fdaaac);
    padding: 15px;
}

.user-details .input-box .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


form .button input:hover{
    background: linear-gradient(-135deg, #152660, #a383c2, #fdaaac);
}

div.log-in {
    flex-grow: 1;
    color: white;
}


img.logo {
    width: 200px;
    margin: 40px 0px;
}
